<div style="background-image: url('{{ asset('build/images/light_noise_diagonal.png') }}' )" id="background_pattern"></div>

<header class="metabar">
    <!-- Navigation -->

    <div id="masthead" role="banner" class="hidden-xs">
        <div class="top-banner">
            <div class="container">
                <a class="brand brand-text" href="index1.html" title="个人博客" rel="home">
                    <h1>
                        {{ project_name }}
                        <small>回忆美好，充实未来！往后余生，写作将是我生活的一部分。</small>
                    </h1>
                </a>
                <div class="top-social pull-right hidden-xs">
                </div>
            </div>
        </div>
    </div>
    <nav id="nav" class="navbar navbar-default container-fluid" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand visible-xs" href="index1.html">
                    艺小昔个人博客				</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav"><li id="menu-item-1790" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"><a rel="nofollow" href="index1.html">首页</a></li><li id="menu-item-1794" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="yixiaoxi.html">艺小昔</a></li><li id="menu-item-7333" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown"><a class="dropdown-toggle" data-toggle="dropdown">艺小昔回忆录<b class="caret"></b><i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li id="menu-item-3570" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="daxuehuiyilu.html">大学回忆录</a></li>	<li id="menu-item-3572" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="shenshixinyulu.html">绅士心语录</a></li>	<li id="menu-item-3571" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="xiaoxiqinyulu.html">小昔亲语录</a></li>	<li id="menu-item-7360" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="xiaoxiaiqinglu.html">小昔爱情录</a></li><!--.dropdown-->
                        </ul>
                    </li><li id="menu-item-1793" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="shenghuoganwu.html">生活感悟</a></li><li id="menu-item-1791" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="qingganriji.html">情感日记</a></li><li id="menu-item-1792" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="gongzuozongjie.html">工作总结</a></li><li id="menu-item-7332" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown"><a class="dropdown-toggle" data-toggle="dropdown">技术类<b class="caret"></b><i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li id="menu-item-6789" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="gerenboke.html">个人博客</a></li>	<li id="menu-item-4700" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="wuxiseo.html">无锡seo</a></li>	<li id="menu-item-5201" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="wordpressmoban.html">wordpress模板</a></li>	<li id="menu-item-6719" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="wordpresszhishi.html">wordpress知识</a></li><!--.dropdown-->
                        </ul>
                    </li><li id="menu-item-7334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown"><a class="dropdown-toggle" data-toggle="dropdown">其他<b class="caret"></b><i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li id="menu-item-7335" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="wuxijiyi.html">无锡记忆</a></li>	<li id="menu-item-7336" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="90houhuiyi.html">90后回忆</a></li><!--.dropdown-->
                        </ul>
                    </li><li id="menu-item-6285" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="liuyanban.html">留言板</a></li></ul>                <form action="http://www.yixiaoxi.com/" method="get" id="searchform" class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" name='s' id='s' class="form-control" placeholder="这里有你想要的" x-webkit-speech="">
                        <button class="btn btn-danger" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>